body{
	margin: 0px;
    padding: 0px;
}
header {
}
.container{
    width: 1150px;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
	    
max-width: 20%;
	    
flex-basis: 20%;
	    
}
.logo img{}
nav{
	   
flex-basis: 80%;
}
nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: end;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    padding: 15px;
    display: block;
}
section{
    padding-top: 340px;
    padding-bottom: 340px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position-y: top;
}
.section-1{
	background-image: url(../images/portfolio-item57.jpg);
}
.section-2{
	background-image: url(../images/portfolio-item58.jpg);
}

.section-3{
	background-image: url(../images/portfolio-item59.jpg);
}
.section-4{
	background-image: url(../images/portfolio-item60.jpg);
}
.section-5{
	background-image: url(../images/portfolio-item61.jpg);
}
.section-6{
	background-image: url(../images/portfolio-item62.jpg);
}
h1{
    font-size: 50px;
    max-width: 501px;
    color: #ff214f;
    margin: auto;
     background: #000000d9;
    text-align: center;
  

}



